.upload-btn-wrapper {
  display: flex;
}

.upload-btn-wrapper label {
  font-size: 20px;
  margin-right: 20px;
  width: 110px;
}

.upload-btn-wrapper input {
  width: 100%;
}

.upload-btn-wrapper #csv_file_upload {
  width: 150px;
  margin-left: 20px;
}

.upload-btn-wrapper a {
  margin-top: 6px;
}

.csv_table {
  margin-top: 30px;
}

.csv_table #total_leads {
  margin-left: 20px;
}

.csv_table.error_message {
  font-weight: bold;
  color: red;
}

.csv_table.success_message {
  font-weight: bold;
  color: green;
}